# note 
note-command-*.md 
# venv 
.venv/
# docker volume
w1/data_pgadmin/
w1/ny_taxi_postgres_data/
# csv 
*.csv
*.parquet.gz
data/
# terraform 
w1/terraform/
# prefect blocks
w2/blocks/
# pycache
__pycache__

